@import "react-slideshow-image/dist/styles.css";

/* Landing Page styles */
.landinPage__container {
    /* height: 90vh; */
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
}

.landingPage__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.content {
    padding-top: 8rem;
}

.content h1 {
    font-size: 5rem;
}
#description {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 70%;
}
.content button {
    background-color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
}

#playstoreLogo {
    width: 13%;
}

.content button span {
    font-size: 1.6rem;
    color: #fff;
}

.landingPage__logo {
    width: 100%;
    margin-right: 4rem;
    border-radius: 20px;
    height: 100%;
    padding-top: 10rem;
}

.landingPage__bottom {
    position: relative;
}

.description {
    width: 45%;
    position: absolute;
    right: 0;
    top: 40px;
}

.footer span a {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .landinPage__container {
        height: max-content;
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
    .landingPage__top {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .landingPage__logo {
        width: 20rem;
        height: 10rem;
        align-self: center;
        margin-right: 0;
        padding-top: 0;
    }
    .content {
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    #description {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .content button {
        width: 90%;
    }
    .content button span {
        font-size: 1rem;
    }
    .content button img {
        width: 20%;
    }
}




@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .landinPage__container {
        flex: 1;
        height: max-content;
        padding-top: 5rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    .content button {
        width: 40%;
    }
    .logo {
        margin-bottom: 5rem;
    }
    .landingPage__logo {
        width: 40rem;
        height: 25rem;
        padding-top: 0;
    }
  }

  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .landinPage__container {
        padding: 2rem !important;
    }
      .content {
          width: 60%;
      }
    .content h1 {
        font-size: 3rem;
    }
    #description {
        font-size: 1.1rem;
    }
    .content button {
        width: 90%;
    }
    .content button span {
        font-size: 1.2rem;
    }
    .landingPage__logo {
        width: 30rem;
        height: 20rem;
        margin-right: 0;
    }
  }

.footer__main {
    height: 10vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__left span{
    color: white;
}

.footer__right a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.footer__right span {
    color: white;
}



@media screen and (max-width: 768px) {
    .footer__main {
        height:15vh;
        flex-direction: column;
        padding: 0.5rem 0;
    }
    .footer__left span {
        font-size: 1rem;
    }
}

/* Privacy Policy Styles */

.privacy__container, .terms__container {
    padding: 1rem 30rem;
}

.page__content h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.page__content p {
    font-size: 1.2rem;
}
.page__content h3 {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.page__content h4 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
    .privacy__container, .terms__container {
        padding: 0 1rem;
    }
    .page__content h1 {
        font-size: 2rem;
        text-align: center;
    }
    .page__content p {
        font-size: 1rem;
        text-align: justify;
    }
    .page__content h3 {
        font-size:1.3rem;
        text-align: center;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .landinPage__container {
        padding: 0 5rem;
    }
    .privacy__container, .terms__container {
        padding: 1rem 5rem;
    }
    .landingPage__logo {
        width: 40rem;
        height: 25rem;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .landinPage__container {
          padding: 0 5rem;
      }
      .landingPage__top {
          flex-direction: column;
          justify-content: center;
          text-align: center;
      }
      .content {
          justify-content:center;
          align-items: center;
      }
      .logo{
          padding: 2rem 0;
      }
      .landingPage__logo {
          margin-right: 0;
      }
      .footer__left span {
          font-size: 1.4rem
      }
      .footer__right {
          font-size:1.4rem
      }
      .privacy__container, .terms__container {
        padding: 1rem 5rem;
    }
}
